<section>
  <div class="logo">
    <img alt="logo" src="../../../assets/logo.png" />
    <span>v1.0.0.0</span>
  </div>
  <div class="admin-area">
    <fa-icon
      size="lg"
      [ngStyle]="{ color: '#ffffff', cursor: 'pointer', margin: '0 30px 0 0' }"
      [icon]="faComment"
    ></fa-icon>
    <div class="admin-card">
      <fa-icon
        size="2x"
        [ngStyle]="{ color: '#ffffff', margin: '0 10px 0 0' }"
        [icon]="faUserCircle"
      ></fa-icon>
      <div>
        <h4>Olá, Administrador. Bem Vindo de Volta.</h4>
        <span>Último acesso em </span>
      </div>
    </div>
  </div>
</section>
