/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Lato;
  src: url("./assets/Lato-Regular.ttf");
}
@font-face {
  font-family: Lato;
  src: url("./assets/Lato-Light.ttf");
  font-weight: lighter;
}
@font-face {
  font-family: Lato;
  src: url("./assets/Lato-Bold.ttf");
  font-weight: bold;
}

* {
  font-family: "Lato";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
