<main>
  <app-navbar></app-navbar>
  <app-header></app-header>
  <div [ngStyle]="{ display: 'flex', 'flex-direction': 'row', width: '100%' }">
    <app-text-input
      label="Teste"
      [showLabel]="true"
      [required]="true"
    ></app-text-input>
    <app-text-input
      label="Teste"
      [showLabel]="true"
      [required]="true"
    ></app-text-input>
    <app-text-input
      label="Teste"
      [showLabel]="true"
      [required]="true"
    ></app-text-input>
  </div>

  <!-- <app-select-input></app-select-input> -->
  <footer></footer>
</main>
